@using Data.Constants
@{
    ViewData["Title"] = "Giderler";
}

<h4>@ViewData["Title"]</h4>
<hr />
<form>
    <div class="form-group row">
        <label for="mindate" class="col-sm-2 col-form-label">Başlangıç Tarihi</label>
        <div class="col-sm-6">
            <input type="date" class="form-control param-change" id="mindate" value="@DateTime.Today.ToString("yyyy-MM-dd")">
        </div>
    </div>
    <div class="form-group row">
        <label for="maxdate" class="col-sm-2 col-form-label">Bitiş Tarihi</label>
        <div class="col-sm-6">
            <input type="date" class="form-control param-change" id="maxdate" value="@DateTime.Today.ToString("yyyy-MM-dd")">
        </div>
    </div>
    <div class="form-group row">
        <label for="slc-order-type" class="col-sm-2 col-form-label">Sipariş Türü</label>
        <div class="col-sm-6">
            <select id="slc-order-type" class="form-control param-change col-form-label"></select>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Personel Kategori</label>
        <div class="col-sm-6">
            <select class="form-control param-change" id="slc-personnel-category" asp-items="Html.GetEnumSelectList<PersonnelCategories>()">
                <option value="0">--Hepsi--</option>
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label for="slc-personnel" class="col-sm-2 col-form-label">Personel</label>
        <div class="col-sm-6">
            <select id="slc-personnel" class="form-control param-change col-form-label"></select>
        </div>
    </div>

    <input type="button" class="btn btn-info m-1" value="Temizle" onclick="clearForm()" />
</form>


@*<button role="button" id="btn-print">PDF</button>*@

<table id="datatable" class="table stripe display text-center" width="100%">
    <thead>
        <tr>
            <th>Şube</th>
            <th>Sipariş No</th>
            <th>Aciklama</th>
            <th>Onay Tarihi</th>
            <th>Tutar</th>
            <th>Kur</th>
            <th>Kredi Karti</th>
            <th>Odendi</th>
        </tr>
    </thead>
</table>


@section Scripts{
    <script src="~/lib/datatable/js/dataTables.rowGroup.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#datatable').DataTable({
                language: {
                    url: '/lib/datatable/tr/tr.json'
                },
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print', 'pageLength'
                ],
                "processing": true, // for show progress bar
                "serverSide": true, // for process server side
                "pagination": true,
                "filter": true, // this is for filter (search box)
                "ordering": false,
                //"orderMulti": false, // for disable multiple column at once
                "pageLength": 10,
                rowGroup: {
                    dataSrc: "currencyName",
                    className: "bg-secondary text-white",
                    endRender: function (rows, group) {

                        var ageAvg = rows
                            .data()
                            .pluck('price')
                            .reduce(function (a, b) {
                                return a + b;
                            }, 0);

                        return $('<tr/>')

                            .append('<td colspan="3"></td><td>TOPLAM:</td><td>' + ageAvg + ' ' + group + '</td><td colspan="3"></td>');

                    }
                },

                "ajax": {
                    url: "/Vault/GetExpenseDataTable",
                    type: 'POST',
                    contentType: "application/json",
                    data: function (d) {
                        var orderType = $("#slc-order-type").val() || 0;
                        d.orderTypeId = parseInt(orderType);
                        var category = $("#slc-personnel-category").val() || 0;
                        d.personnelCategory = parseInt(category);
                        var personnel = $("#slc-personnel").val() || 0;
                        d.personnelId = parseInt(personnel);

                        var date1 = $('#mindate').val();
                        var date2 = $('#maxdate').val();
                        d.minDate = date1 ? new Date(date1) : null;
                        d.maxDate = date2 ? new Date(date2) : null;
                        console.log(d)
                        return JSON.stringify(d);
                    }
                },
                "columns": [
                    { "data": "officeName", },
                    { "data": "orderId", },
                    { "data": "personnelFullName", },
                    {
                        "data": "approveDate",
                        render: function (data, type, row) {
                            return (new Date(data)).toLocaleString('tr-TR', { year: 'numeric', month: 'numeric', day: 'numeric', hour: '2-digit', minute: '2-digit' });
                        }
                    },
                    { "data": "price" },
                    { "data": "currencyName" },
                    {
                        "data": "isCreditCard",
                        render: function (data, type, row) {
                            let icon = data === true ? 'X' : '';
                            return icon;
                        }
                    },
                    {
                        "data": "isPaymentDone",
                        render: function (data, type, row) {
                            let icon = data === true ? 'X' : '';
                            return icon;
                        }
                    }
                ]

            });

            $.ajax({
                url: '/OrderTypes/GetForDropDown',
                success: function (res) {
                    var s = '<option value="0">--Hepsi--</option>';
                    for (var i = 0; i < res.length; i++) {
                        s += '<option value="' + res[i].value + '">' + res[i].text + '</option>';
                    }
                    $("#slc-order-type").html(s);
                }
            })

            $.ajax({
                url: '/Personnel/GetForDropDown',
                success: function (res) {
                    var s = '<option value="0">--Hepsi--</option>';
                    for (var i = 0; i < res.length; i++) {
                        s += '<option value="' + res[i].value + '">' + res[i].text + '</option>';
                    }
                    $("#slc-personnel").html(s);
                }
            })
        });


        $('.param-change').change(function () {
            refreshTable();
        })
        function clearForm() {
            $('.param-change').val(null);
            $("#slc-order-type").val("0").change();
            $("#slc-personnel-category").val(0).change();
            $("#slc-personnel").val(0).change();
            refreshTable();
        }
        function refreshTable() {
            $('#datatable').DataTable().ajax.reload();
        }


        function printData() {
            var divToPrint = document.getElementById("datatable");
            newWin = window.open("");
            newWin.document.write(divToPrint.outerHTML);
            newWin.print();
            newWin.close();
        }

        $('#btn-print').on('click', function () {
            printData();
        })
    </script>
}