@{
    ViewData["Title"] = "Gelirler";
}

<h4>@ViewData["Title"]</h4>
<hr />
<form>
    <div class="form-group row">
        <label for="mindate" class="col-sm-2 col-form-label">Başlangıç Tarihi</label>
        <div class="col-sm-6">
            <input type="date" class="form-control param-change" id="mindate" value="@DateTime.Today.ToString("yyyy-MM-dd")">
        </div>
    </div>
    <div class="form-group row">
        <label for="maxdate" class="col-sm-2 col-form-label">Bitiş Tarihi</label>
        <div class="col-sm-6">
            <input type="date" class="form-control param-change" id="maxdate" value="@DateTime.Today.ToString("yyyy-MM-dd")">
        </div>
    </div>
    <div class="form-group row">
        <label for="maxdate" class="col-sm-2 col-form-label">Sipariş Türü</label>
        <div class="col-sm-6">
            <select id="slc-order-type" class="form-control param-change col-form-label"></select>
        </div>
    </div>

    <div class="form-group row p-4">
        <div class="custom-control custom-switch col-md-4">
            <input type="checkbox" class="custom-control-input param-change" id="sw-rest" checked>
            <label class="custom-control-label" for="sw-rest">Rest</label>
        </div>
        <div class="custom-control custom-switch col-md-4">
            <input type="checkbox" class="custom-control-input param-change" id="sw-deposit" checked>
            <label class="custom-control-label" for="sw-deposit">Depozito</label>
        </div>
    </div>

    <input type="button" class="btn btn-info m-1" value="Temizle" onclick="clearForm()" />
</form>

<div class="d-flex justify-content-end p-3">

</div>
@*<button role="button" id="btn-print">PDF</button>*@

<table id="datatable" class="table stripe display text-center" width="100%">
    <thead>
        <tr>
            <th>Şube</th>
            <th>Sipariş No</th>
            <th>Isim</th>
            <th>Aciklama</th>
            <th>Tarih</th>
            <th>Tutar</th>
            <th>Kur</th>
            <th>Kredi Karti</th>
            <th>Odendi</th>
        </tr>
    </thead>
</table>


@section Scripts{
<script src="~/lib/datatable/js/dataTables.rowGroup.min.js"></script>
<script>
        $(document).ready(function () {
            $('#datatable').DataTable({
                language: {
                    url: '/lib/datatable/tr/tr.json'
                },
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print', 'pageLength'
                ],
                "processing": true, // for show progress bar
                "serverSide": true, // for process server side
                "pagination": true,
                "filter": false, // this is for filter (search box)
                "ordering": false,
                //"orderMulti": false, // for disable multiple column at once
                "pageLength": 10,
                rowGroup: {
                    dataSrc: "currencyName",
                    className: "bg-secondary text-white",
                    endRender: function (rows, group) {

                        var ageAvg = rows
                            .data()
                            .pluck('price')
                            .reduce(function (a, b) {
                                return a + b;
                            }, 0);

                        return $('<tr/>')

                            .append('<td colspan="4"></td><td>TOPLAM:</td><td>' + ageAvg + ' ' + group + '</td><td colspan="3"></td>');

                    }
                },

                "ajax": {
                    url: "/Vault/GetIncomeDataTable",
                    type: 'POST',
                    contentType: "application/json",
                    data: function (d) {
                        let isRest = $('#sw-rest').prop('checked');
                        let isDeposit = $('#sw-deposit').prop('checked');
                        if (isRest === true && isDeposit === false) {
                            d.isPaymentDone = true;
                        } if (isRest === false && isDeposit === true) {
                            d.isPaymentDone = false;
                        }

                        var orderType = $("#slc-order-type").val() || 0;
                        d.orderTypeId = orderType;
                        var date1 = $('#mindate').val();
                        var date2 = $('#maxdate').val();
                        d.minDate = date1 ? new Date(date1) : null;
                        d.maxDate = date2 ? new Date(date2) : null;
                        return JSON.stringify(d);
                    }
                },
                "columns": [
                    { "data": "officeName", },
                    { "data": "id", },
                    { "data": "customerFullName", },
                    { "data": "description", },
                    {
                        "data": "date",
                        render: function (data, type, row) {
                            return (new Date(data)).toLocaleString('tr-TR', { year: 'numeric', month: 'numeric', day: 'numeric', hour: '2-digit', minute: '2-digit' });
                        }
                    },
                    { "data": "price" },
                    { "data": "currencyName" },
                    {
                        "data": null,
                        render: function (data, type, row) {
                            let icon = row.isCreditCard === true ? 'X' : '';
                            return icon;
                        }
                    },
                    {
                        "data": null,
                        render: function (data, type, row) {
                            let icon = row.isPaymentDone === true ? 'X' : '';
                            return icon;
                        }
                    }
                ]

            });

            $.ajax({
            url: '/OrderTypes/GetForDropDown',
            success: function (res) {
                var s = '<option value="0">--Hepsi--</option>';
                for (var i = 0; i < res.length; i++) {
                    s += '<option value="' + res[i].value + '">' + res[i].text + '</option>';
                }
                $("#slc-order-type").html(s);
            }
        })
        });

        $('.param-change').change(function () {
            refreshTable();
        })
        function clearForm() {
            $('.param-change').val(null);
            $("#slc-order-type").val("0").change();
            $('#sw-rest').prop('checked', true);
            $('#sw-deposit').prop('checked', true);
            refreshTable();
        }
        function refreshTable() {
            $('#datatable').DataTable().ajax.reload();
        }


        function printData() {
            var divToPrint = document.getElementById("datatable");
            newWin = window.open("");
            newWin.document.write(divToPrint.outerHTML);
            newWin.print();
            newWin.close();
        }

        $('#btn-print').on('click', function () {
            printData();
        })
</script>
}