@{
    ViewData["Title"] = "Kullanıcılar";
}

<h4>@ViewData["Title"]</h4>
<hr />
<div class="d-flex justify-content-end p-3">
    <!-- Large modal -->
    <a asp-controller="Users" asp-action="Edit" class="btn btn-primary"><i class="fas fa-plus"></i> Ekle</a>
</div>


<table id="datatable" class="table stripe display" width="100%">
    <thead>
        <tr>
            <th>Kullanıcı Adı</th>
            <th>Email</th>
            <th>Personel Adı</th>
            <th>İşlem</th>
        </tr>
    </thead>
</table>


@section Scripts{
    <script>
        $(document).ready(function () {
            $('#datatable').DataTable({
                language: {
                    url: '/lib/datatable/tr/tr.json'
                },
                "processing": true, // for show progress bar
                "serverSide": false, // for process server side
                "pagination": false,
                "filter": true, // this is for disable filter (search box)
                //"orderMulti": false, // for disable multiple column at once
                //"pageLength": 10,

                "ajax": {
                    url: "/Users/GetDataTable",
                    type: 'POST',
                    contentType: "application/json",
                    data: function (d) {
                        return JSON.stringify(d);
                    }
                },
                "columns": [
                    { "data": "userName", },
                    { "data": "email" },
                    { "data": "personnelName", },
                    {
                        "data": "id",
                        render: function (data, type, row) {
                            return '<a href="/Users/Edit/' + data + '" class="btn btn-sm btn-warning m-1"><i class="fas fa-edit"></i></button>';
                        }
                    }
                ]

            });
        });

    </script>
}