@{
    ViewData["Title"] = "Cari Hareketler";
    var controllerName = ViewContext.RouteData.Values["controller"].ToString();
}

<h4>@ViewData["Title"]</h4>
<hr />
<div class="d-flex justify-content-end p-3">
    <!-- Large modal -->
    <a asp-controller="@controllerName" asp-action="Edit" class="btn btn-primary"><i class="fas fa-plus"></i> Ekle</a>
</div>


<table id="datatable" class="table stripe display" width="100%">
    <thead>
        <tr>
            <th>Şube</th>
            <th>Cari</th>
            <th>Kalem</th>
            <th>Gelir</th>
            <th>Gider</th>
            <th>Kur</th>
            <th>Açıklama</th>
            <th>Tarih</th>
            <th>İşlem</th>
        </tr>
    </thead>
</table>


@section Scripts{
    <script>
        $(document).ready(function () {
            $('#datatable').DataTable({
                language: {
                    url: '/lib/datatable/tr/tr.json'
                },
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print', 'pageLength'
                ],
                "processing": true, // for show progress bar
                "serverSide": true, // for process server side
                "pagination": true,
                "filter": true, // this is for disable filter (search box)
                "ordering": false,
                //"orderMulti": false, // for disable multiple column at once

                "ajax": {
                    url: "/@controllerName/GetDataTable",
                    type: 'POST',
                    contentType: "application/json",
                    data: function (d) {
                        return JSON.stringify(d);
                    }
                },
                "columns": [
                    { "data": "officeName", },
                    { "data": "entityName" },
                    { "data": "typeName" },
                    { "data": "income" },
                    { "data": "expense" },
                    { "data": "currencyName" },
                    { "data": "description" },
                    {
                        "data": "date",
                        render: function (data, type, row) {
                            return (new Date(data)).toLocaleDateString('tr-TR');
                        } },
                    {
                        "data": "id",
                        render: function (data, type, row) {
                            return '<a href="/@controllerName/Edit/' + data + '" class="btn btn-sm btn-warning m-1"><i class="fas fa-edit"></i></button>';
                        }
                    }
                ]

            });
        });

    </script>
}