@{
    ViewData["Title"] = "Cari Hareketler";
    var controllerName = ViewContext.RouteData.Values["controller"].ToString();
}

<h4>@ViewData["Title"]</h4>
<hr />
<form>
    <div class="form-group row">
        <label for="mindate" class="col-sm-2 col-form-label">Başlangıç Tarihi</label>
        <div class="col-sm-4">
            <input type="date" class="form-control param-change" id="mindate" value="@DateTime.Today.ToString("yyyy-MM-dd")">
        </div>
        <label for="maxdate" class="col-sm-2 col-form-label">Bitiş Tarihi</label>
        <div class="col-sm-4">
            <input type="date" class="form-control param-change" id="maxdate" value="@DateTime.Today.ToString("yyyy-MM-dd")">
        </div>
        </div>
    <div class="form-group row">
        <div class="col-sm-4">
            <select id="slc-office" class="form-control param-change"></select>
        </div>
        <div class="col-sm-4">
            <select id="slc-entity" class="form-control param-change"></select>
        </div>
        <div class="col-sm-4">
            <select id="slc-type" class="form-control param-change"></select>
        </div>

    </div>

    <input type="button" class="btn btn-info m-1" value="Temizle" onclick="clearForm()" />
</form>

<div class="d-flex justify-content-end p-3">
    <!-- Large modal -->
    <a asp-controller="@controllerName" asp-action="Edit" class="btn btn-primary"><i class="fas fa-plus"></i> Ekle</a>
</div>

<table id="datatable" class="table stripe display" width="100%">
    <thead>
        <tr>
            <th>Şube</th>
            <th>Cari</th>
            <th>Kalem</th>
            <th>Alacak</th>
            <th>Borç</th>
            <th>Kur</th>
            <th>Açıklama</th>
            <th>Tarih</th>
            <th>İşlem</th>
        </tr>
    </thead>
</table>


@section Scripts{
    <script>
        $(document).ready(function () {
            $('#datatable').DataTable({
                language: {
                    url: '/lib/datatable/tr/tr.json'
                },
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print', 'pageLength'
                ],
                "processing": true, // for show progress bar
                "serverSide": true, // for process server side
                "pagination": true,
                "filter": true, // this is for disable filter (search box)
                "ordering": false,
                //"orderMulti": false, // for disable multiple column at once

                "ajax": {
                    url: "/@controllerName/GetDataTable",
                    type: 'POST',
                    contentType: "application/json",
                    data: function (d) {
                        let officeId = $("#slc-office").val() || 0;
                        d.officeId = officeId;
                        let entityId = $("#slc-entity").val() || 0;
                        d.entityId = entityId;
                        let typeId = $("#slc-type").val() || 0;
                        d.typeId = typeId;

                        let date1 = $('#mindate').val();
                        let date2 = $('#maxdate').val();
                        d.minDate = date1 ? new Date(date1) : null;
                        d.maxDate = date2 ? new Date(date2) : null;
                        return JSON.stringify(d);
                    }
                },
                "columns": [
                    { "data": "officeName", },
                    { "data": "entityName" },
                    { "data": "typeName" },
                    { "data": "income" },
                    { "data": "expense" },
                    { "data": "currencyName" },
                    { "data": "description" },
                    {
                        "data": "date",
                        render: function (data, type, row) {
                            return (new Date(data)).toLocaleDateString('tr-TR');
                        } },
                    {
                        "data": "id",
                        render: function (data, type, row) {
                            return '<a href="/@controllerName/Edit/' + data + '" class="btn btn-sm btn-warning m-1"><i class="fas fa-edit"></i></button>' +
                                '<a onclick="deletePrompt(' + data + ')" class="btn btn-sm btn-danger m-1"><i class="fas fa-trash"></i></button>';
                        }
                    }
                ]

            });

            setSelect('/Offices/GetForDropDown', 'slc-office', null, "-Şube-")
            setSelect('/AccountEntities/GetForDropDown', 'slc-entity', null, "-Cari-")
            setSelect('/AccountTypes/GetForDropDown', 'slc-type', null, "-Kalem-")
        });

        function deletePrompt(id) {
            alertify.confirm("Sil", "Silme işlemini onaylıyor musunuz?",
                function () {
                    let model = { id: id }
                    $.ajax({
                        url: '/@controllerName/Delete',
                        type: 'post',
                        contentType: "application/json",
                        data: JSON.stringify(model),
                        success: function (res) {
                            if (res.error === false) {
                                alertify.success("İşlem Başarılı");
                                $('#datatable').DataTable().ajax.reload();
                            } else {
                                alertify.error("İşlem Başarısız");
                                console.log(res);
                            }
                        }
                    })
                }, null)
        }

        $('.param-change').change(function () {
            refreshTable();
        })
        function clearForm() {
            $('.param-change').val(null);
            $("#slc-type").val("").change();
            $("#slc-entity").val("").change();
            $("#slc-office").val("").change();
            refreshTable();
        }
        function refreshTable() {
            $('#datatable').DataTable().ajax.reload();
        }
    </script>
}