@model Web.Models.OrderViewModel
@{
}

<div class="text-danger" asp-validation-summary="ModelOnly"></div>
<form data-ajax-url="/Orders/Edit" data-ajax="true" data-ajax-method="post" data-ajax-complete="ajaxCompleted" data-ajax-failure="ajaxFailed">
    <input type="hidden" asp-for="Order.Id" />
    <div class="form-row">
        <div class="form-group col-md-4">
            <label>Şube</label>
            <select class="form-control" asp-for="Order.OfficeId" asp-items="Model.Office">
            </select>
            <span class="text-danger" asp-validation-for="Order.OfficeId"></span>
        </div>
        <div class="form-group col-md-4">
            <label>Sipariş Türü</label>
            <select class="form-control" asp-for="Order.OrderTypeId" asp-items="Model.OrderType">
            </select>
        </div>
        <div class="form-group col-md-4">
            <label>Ülke</label>
            <select class="form-control" asp-for="Order.CustomerCountryId" asp-items="Model.Country">
            </select>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>İsim</label>
            <input type="text" class="form-control" asp-for="Order.CustomerName">
        </div>
        <div class="form-group col-md-6">
            <label>Soyisim</label>
            <input type="text" class="form-control" asp-for="Order.CustomerSurname">
        </div>
    </div>
    <div class="form-group">
        <label>Adres</label>
        <input class="form-control" asp-for="Order.CustomerAdress">
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label>Fiyat</label>
            <input class="form-control" asp-for="Order.Price">
        </div>
        <div class="form-group col-md-4">
            <label>Depozit</label>
            <input class="form-control" asp-for="Order.Deposit">
        </div>
        <div class="form-group col-md-4">
            <label>Doviz Kuru</label>
            <select class="form-control" asp-for="Order.CurrencyId" asp-items="Model.Currency">
                <option value="">--Seçiniz--</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label>Açıklama</label>
        <input class="form-control" asp-for="Order.Description">
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label>Tarih</label>
            <input class="form-control" asp-for="Order.Date">
        </div>
        <div class="form-group offset-md-4 col-md-4 p-1">
            <div class="form-check">
                <br />
                <input class="form-check-input" asp-for="Order.IsCreditCard">
                <label class="form-check-label" asp-for="Order.IsCreditCard"> Kredi Karti </label>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group p-1">
            <div class="form-check m-2">
                <input class="form-check-input" asp-for="Order.TypeCoverUp">
                <label class="form-check-label" asp-for="Order.TypeCoverUp">Cover Up</label>
            </div>
        </div>
        <div class="form-group p-1">
            <div class="form-check m-2">
                <input class="form-check-input" asp-for="Order.TypeFreeHand">
                <label class="form-check-label" asp-for="Order.TypeFreeHand">Freehand</label>
            </div>
        </div>
        <div class="form-group p-1">
            <div class="form-check m-2">
                <input class="form-check-input" asp-for="Order.TypeRefresh">
                <label class="form-check-label" asp-for="Order.TypeRefresh">Refresh</label>
            </div>
        </div>
        <div class="form-group p-1">
            <div class="form-check m-2">
                <input class="form-check-input" asp-for="Order.TypeTouchUp">
                <label class="form-check-label" asp-for="Order.TypeTouchUp">Touch Up</label>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-end">
        <button type="submit" class="btn btn-success"><i class="fas fa-save"></i> Kaydet</button>
    </div>
</form>


@*<partial name="_ValidationScriptsPartial" />*@