@{
}
<div class="d-flex justify-content-end p-3">
    <!-- Large modal -->
    <a asp-controller="Orders" asp-action="Edit" class="btn btn-primary"><i class="fas fa-plus"></i> Ekle</a>
</div>


<table id="datatable" class="table stripe display">
    <thead>
        <tr>
            <th>Şube</th>
            <th>Sipariş No</th>
            <th>Tür</th>
            <th>Müşteri</th>
            <th>Tutar</th>
            <th>Depozito</th>
            <th>Kalan</th>
            <th>Kur</th>
            <th>Tarih</th>
            <th>İşlem</th>
        </tr>
    </thead>
</table>


@section Scripts{
    <script>
        $(document).ready(function () {
            $('#datatable').DataTable({
                language: {
                    url: '/lib/datatable/tr/tr.json'
                },
                "processing": true, // for show progress bar
                "serverSide": true, // for process server side
                "pagination": true,
                "filter": true, // this is for filter (search box)
                //"orderMulti": false, // for disable multiple column at once
                "pageLength": 10,

                "ajax": {
                    url: "/Orders/GetDataTable",
                    type: 'POST',
                    contentType: "application/json",
                    data: function (d) {
                        return JSON.stringify(d);
                    }
                },
                "columns": [
                    { "data": "officeName", },
                    { "data": "id", },
                    { "data": "orderTypeName", },
                    { "data": "customerFullName", },
                    { "data": "price" },
                    { "data": "deposit" },
                    {
                        "data": "null",
                        render: function (data, type, row) {
                            return row.price - row.deposit;
                        }
                    },
                    { "data": "currencyName" },
                    {
                        "data": "date",
                        render: function (data, type, row) {
                            return (new Date(data)).toLocaleDateString('tr-TR');
                        }
                    },
                    {
                        "data": "id",
                        render: function (data, type, row) {
                            return '<a href="/Orders/Edit/' + data + '" class="btn btn-sm btn-warning m-1"><i class="fas fa-edit"></i></button>';
                        }
                    }
                ]

            });
        });

    </script>
}