@{
}
<div class="d-flex justify-content-end p-3">
    <!-- Large modal -->
    @*<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="fas fa-plus"></i> Ekle</button>*@
    <button type="button" class="btn btn-primary" id="btn-modal" onclick="openModal(0)"><i class="fas fa-plus"></i> Ekle</button>
</div>


<div class="modal fade bd-example-modal-lg" id="form-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title" id="myLargeModalLabel">Large modal</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div id="modal-body" class="modal-body">
                ...
            </div>
        </div>
    </div>
</div>


<table id="myTable">
    <thead>
        <tr>
            <th>CustomerID</th>
            <th>CompanyName</th>
        </tr>
    </thead>
</table>


@section Scripts{
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable({

                "processing": true, // for show progress bar
                "serverSide": false, // for process server side
                "filter": false, // this is for disable filter (search box)
                "orderMulti": false, // for disable multiple column at once
                "pageLength": 5,


            });
        });

        function openModal(id) {
            let model = id === 0 ? null : {id:id};

            $('#form-modal').modal('show');

            $.ajax({
                url: "/Orders/Edit",
                type: "get",
                data: model,
                success: function (res) {
                    $("#myLargeModalLabel").text("Ekle");
                    $("#modal-body").html(res);

                },
                error: function (err) {
                    toastr.error("Baglanti hatasi")
                }
            })
        }
    </script>
}