@{
}
<div class="d-flex justify-content-end p-3">
    <!-- Large modal -->
    <a asp-controller="Orders" asp-action="Edit" class="btn btn-primary"><i class="fas fa-plus"></i> Ekle</a>
</div>


<table id="datatable" class="table stripe display">
    <thead>
        <tr>
            <th>CustomerID</th>
            <th>CompanyName</th>
        </tr>
    </thead>
</table>


@section Scripts{
    <script>
        $(document).ready(function () {
            $('#datatable').DataTable({

                "processing": true, // for show progress bar
                "serverSide": false, // for process server side
                "filter": false, // this is for disable filter (search box)
                "orderMulti": false, // for disable multiple column at once
                "pageLength": 5,


            });
        });

        function openModal(id) {
            let model = id === 0 ? null : { id: id };
            let header = id === 0 ? "Ekle" : "Duzenle"

            $('#form-modal').modal('show');

            $.ajax({
                url: "/Orders/Edit",
                type: "get",
                data: model,
                success: function (res) {
                    $("#myLargeModalLabel").text(header);
                    $("#modal-body").html(res);

                },
                error: function (err) {
                    toastr.error("Baglanti hatasi")
                }
            })
        }
    </script>
}