@using Data.Constants
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/fontawesome/css/all.min.css" />
    <link rel="stylesheet" href="~/lib/alertify/alertify.min.css" />
    <link rel="stylesheet" href="~/lib/alertify/default.min.css" />
    <link rel="stylesheet" href="~/css/theme_inkshop.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/datatable/css/datatables.min.css" />
    <link rel="stylesheet" href="~/lib/datatable/css/buttons.datatables.min.css" />
    <link rel="stylesheet" href="~/lib/select2/select2.min.css" />
</head>
<body>
    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header bg-dark">
                <a asp-controller="Home" asp-action="Index">
                    <h3>Ink Shop</h3>
                </a>
            </div>

            <ul class="list-unstyled components">
                @*<p>Baslik</p>*@
                <li>
                    <a asp-controller="Transfers" asp-action="Index">Transfer</a>
                </li>
                @if (User.IsInRole(UserRoles.Admin) || User.IsInRole(UserRoles.Supervisor) || User.IsInRole(UserRoles.Accountant))
                {
                    <li>
                        <a asp-controller="Orders" asp-action="Index">Siparis</a>
                    </li>
                    <li>
                        <a asp-controller="Reservations" asp-action="Index">Rezervasyon</a>
                    </li>
                }

                @if (User.IsInRole(UserRoles.Admin) || User.IsInRole(UserRoles.Accountant))
                {
                    <li>
                        <a href="#vaultSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Kasa İşlemleri</a>
                        <ul class="collapse list-unstyled" id="vaultSubmenu">
                            <li>
                                <a asp-controller="Vault" asp-action="Income">Gelir</a>
                            </li>
                            <li>
                                <a asp-controller="Vault" asp-action="Expense">Gider</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#accountSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Muhasebe</a>
                        <ul class="collapse list-unstyled" id="accountSubmenu">
                            <li><a asp-controller="AccountMovements" asp-action="Index">Cari Hareketler</a></li>
                            <li><a asp-controller="AccountEntities" asp-action="Index">Cariler</a></li>
                            <li><a asp-controller="AccountTypes" asp-action="Index">Kalemler</a></li>
                            <li><a asp-controller="AccountVault" asp-action="Index">Kasalar</a></li>
                        </ul>
                    </li>
                }

                @if (User.IsInRole(UserRoles.Admin))
                {
                    <li>
                        <a asp-controller="Users" asp-action="Index">Kullanıcılar</a>
                    </li>
                    <li>
                        <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Ayarlar</a>
                        <ul class="collapse list-unstyled" id="pageSubmenu">
                            <li>
                                <a asp-controller="Offices" asp-action="Index">Şube</a>
                            </li>
                            <li>
                                <a asp-controller="Countries" asp-action="Index">Ülke</a>
                            </li>
                            <li>
                                <a asp-controller="Currencies" asp-action="Index">Kur</a>
                            </li>
                            <li>
                                <a asp-controller="OrderTypes" asp-action="Index">Sipariş Türü</a>
                            </li>
                            <li>
                                <a asp-controller="Personnel" asp-action="Index">Personel</a>
                            </li>
                        </ul>
                    </li>
                }

            </ul>

            @*<ul class="list-unstyled CTAs">
                <li>
                    <a href="https://bootstrapious.com/tutorial/files/sidebar.zip" class="download">Download source</a>
                </li>
                <li>
                    <a href="https://bootstrapious.com/p/bootstrap-sidebar" class="article">Back to article</a>
                </li>
            </ul>*@
        </nav>

        <!-- Page Content  -->
        <div id="content">
            <div>
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                    <div class="container-fluid">

                        <button type="button" id="sidebarCollapse" class="btn btn-menu">
                            <i class="fas fa-align-left"></i>
                            <span>Menu</span>
                        </button>
                        <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <i class="fas fa-align-justify"></i>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="nav navbar-nav ml-auto">
                                <li class="nav-item">
                                    <a href="/Identity/Account/Manage/ChangePassword" class="nav-link" title="Hesabım"><i class="fas fa-user-circle fa-2x"></i></a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Identity/Account/Logout" class="nav-link" title="Çıkış"><i class="fas fa-sign-out-alt fa-2x"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>

                @RenderBody()


            </div>
        </div>
    </div>


    <footer class="border-top footer text-muted p-2">
        <div class="container text-center">
            &copy; 2021 - Bu yazılım <a target="_blank" href="https://muhsinozkan.com"><img src="~/images/logom.png" width="50" /></a> tarafından geliştirilmiştir
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/datatable/js/datatable.min.js"></script>
    <script src="~/lib/datatable/js/dataTables.buttons.min.js"></script>
    <script src="~/lib/datatable/js/jszip.min.js"></script>
    <script src="~/lib/datatable/js/pdfmake.min.js"></script>
    <script src="~/lib/datatable/js/vfs_fonts.js"></script>
    <script src="~/lib/datatable/js/buttons.html5.min.js"></script>
    <script src="~/lib/datatable/js/buttons.print.min.js"></script>
    <script src="~/lib/fontawesome/js/all.min.js"></script>
    <script src="~/lib/alertify/alertify.min.js"></script>
    <script src="~/lib/select2/select2.full.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script src="~/js/site.js"></script>
</body>
</html>
