<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ink Shop</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/fontawesome/css/all.min.css" />
    <link rel="stylesheet" href="~/lib/alertify/alertify.min.css" />
    <link rel="stylesheet" href="~/lib/alertify/default.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/datatable/css/datatable.min.css" />
    <link rel="stylesheet" href="~/lib/select2/select2.min.css" />
</head>
<body>
    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <a asp-controller="Home" asp-action="Index">
                    <h3>Ink Shop</h3>
                </a>
            </div>

            <ul class="list-unstyled components">
                <p>Baslik</p>
                <li>
                    <a asp-controller="Orders" asp-action="Index">Siparis</a>
                </li>
                <li>
                    <a asp-controller="Reservations" asp-action="Index">Rezervasyon</a>
                </li>
                @*<li class="active">
                    <a href="homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li>
                            <a href="#">Home 1</a>
                        </li>
                        <li>
                            <a href="#">Home 2</a>
                        </li>
                        <li>
                            <a href="#">Home 3</a>
                        </li>
                    </ul>
                </li>*@
                <li>
                    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Ayarlar</a>
                    <ul class="collapse list-unstyled" id="pageSubmenu">
                        <li>
                            <a asp-controller="Offices" asp-action="Index">Şube</a>
                        </li>
                        <li>
                            <a asp-controller="Countries" asp-action="Index">Ülke</a>
                        </li>
                        <li>
                            <a asp-controller="Currencies" asp-action="Index">Kur</a>
                        </li>
                        <li>
                            <a asp-controller="OrderTypes" asp-action="Index">Sipariş Türü</a>
                        </li>
                        <li>
                            <a asp-controller="Personnel" asp-action="Index">Personel</a>
                        </li>
                    </ul>
                </li>
            </ul>

            @*<ul class="list-unstyled CTAs">
                <li>
                    <a href="https://bootstrapious.com/tutorial/files/sidebar.zip" class="download">Download source</a>
                </li>
                <li>
                    <a href="https://bootstrapious.com/p/bootstrap-sidebar" class="article">Back to article</a>
                </li>
            </ul>*@
        </nav>

        <!-- Page Content  -->
        <div id="content">
            <div>
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="container-fluid">

                        <button type="button" id="sidebarCollapse" class="btn btn-info">
                            <i class="fas fa-align-left"></i>
                            <span>Menu</span>
                        </button>
                        <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <i class="fas fa-align-justify"></i>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="nav navbar-nav ml-auto">
                                <li class="nav-item">
                                    <a class="nav-link" href="#"><i class="fas fa-user-circle fa-2x"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>

                @RenderBody()


            </div>
        </div>
    </div>


    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Mhsn - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/datatable/js/datatable.min.js"></script>
    <script src="~/lib/fontawesome/js/all.min.js"></script>
    <script src="~/lib/alertify/alertify.min.js"></script>
    <script src="~/lib/select2/select2.full.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
