@model Web.Models.ReservationViewModel
@{
    ViewData["Title"] = "Ekle/Düzenle";
}

<div class="text-danger" asp-validation-summary="All"></div>
<form id="form-post" data-ajax-url="/Reservations/Edit" data-ajax="true" data-ajax-method="post" data-ajax-complete="success" data-ajax-failure="ajaxFail">
    <input type="hidden" asp-for="Reservation.Id" />
    <div class="form-row">
        <div class="form-group col-md-4">
            <label>Şube</label>
            <select class="form-control" asp-for="Reservation.OfficeId" asp-items="Model.Office">
            </select>
            <span class="text-danger" asp-validation-for="Reservation.OfficeId"></span>
        </div>
        <div class="form-group col-md-4">
            <label>Sipariş Türü</label>
            <select class="form-control" asp-for="Reservation.OrderTypeId" asp-items="Model.OrderType">
                <option value="">--Seçiniz--</option>
            </select>
            <span class="text-danger" asp-validation-for="Reservation.OrderTypeId"></span>
        </div>
        <div class="form-group col-md-4">
            <label>Artist</label>
            <select class="form-control" asp-for="Reservation.PersonnelId" asp-items="Model.Personnel">
                <option value="">--Seçiniz--</option>
            </select>
            <span class="text-danger" asp-validation-for="Reservation.PersonnelId"></span>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label>İsim</label>
            <input type="text" class="form-control" asp-for="Reservation.CustomerName">
            <span class="text-danger" asp-validation-for="Reservation.CustomerName"></span>
        </div>
        <div class="form-group col-md-4">
            <label>Soyisim</label>
            <input type="text" class="form-control" asp-for="Reservation.CustomerSurname">
            <span class="text-danger" asp-validation-for="Reservation.CustomerSurname"></span>
        </div>
        <div class="form-group col-md-4">
            <label>Ülke</label>
            <select class="form-control" asp-for="Reservation.CustomerCountryId" asp-items="Model.Country">
                <option value="">--Seçiniz--</option>
            </select>
            <span class="text-danger" asp-validation-for="Reservation.CustomerCountryId"></span>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-5">
            <label>Hotel</label>
            <input class="form-control" asp-for="Reservation.CustomerHotel">
            <span class="text-danger" asp-validation-for="Reservation.CustomerHotel"></span>
        </div>
        <div class="form-group col-md-3">
            <label>Oda</label>
            <input class="form-control" asp-for="Reservation.CustomerRoomNumber">
            <span class="text-danger" asp-validation-for="Reservation.CustomerRoomNumber"></span>
        </div>
        <div class="form-group col-md-4">
            <label>Telefon</label>
            <input class="form-control" asp-for="Reservation.CustomerPhoneNumber">
            <span class="text-danger" asp-validation-for="Reservation.CustomerPhoneNumber"></span>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label>Fiyat</label>
            <input class="form-control" asp-for="Reservation.Price">
            <span class="text-danger" asp-validation-for="Reservation.Price"></span>
        </div>
        <div class="form-group col-md-4">
            <label>Depozit</label>
            <input class="form-control" asp-for="Reservation.Deposit">
            <span class="text-danger" asp-validation-for="Reservation.Deposit"></span>
        </div>
        <div class="form-group col-md-4">
            <label>Doviz Kuru</label>
            <select class="form-control" asp-for="Reservation.CurrencyId" asp-items="Model.Currency">
                <option value="">--Seçiniz--</option>
            </select>
            <span class="text-danger" asp-validation-for="Reservation.CurrencyId"></span>
        </div>
    </div>
    <div class="form-group">
        <label>Açıklama</label>
        <input class="form-control" asp-for="Reservation.Description">
        <span class="text-danger" asp-validation-for="Reservation.Description"></span>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label>Tarih</label>
            <input class="form-control" asp-for="Reservation.Date" asp-format="{0:yyyy-MM-ddTHH:mm}">
            <span class="text-danger" asp-validation-for="Reservation.Date"></span>
        </div>
        <div class="form-group offset-md-4 col-md-4 p-1">
            <div class="form-check">
                <br />
                <input class="form-check-input" asp-for="Reservation.IsCreditCard">
                <label class="form-check-label" asp-for="Reservation.IsCreditCard"> Kredi Karti </label>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group p-1">
            <div class="form-check m-2">
                <input class="form-check-input" asp-for="Reservation.TypeCoverUp">
                <label class="form-check-label" asp-for="Reservation.TypeCoverUp">Cover Up</label>
            </div>
        </div>
        <div class="form-group p-1">
            <div class="form-check m-2">
                <input class="form-check-input" asp-for="Reservation.TypeFreeHand">
                <label class="form-check-label" asp-for="Reservation.TypeFreeHand">Freehand</label>
            </div>
        </div>
        <div class="form-group p-1">
            <div class="form-check m-2">
                <input class="form-check-input" asp-for="Reservation.TypeRefresh">
                <label class="form-check-label" asp-for="Reservation.TypeRefresh">Refresh</label>
            </div>
        </div>
        <div class="form-group p-1">
            <div class="form-check m-2">
                <input class="form-check-input" asp-for="Reservation.TypeTouchUp">
                <label class="form-check-label" asp-for="Reservation.TypeTouchUp">Touch Up</label>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-between">
        <a asp-controller="Reservations" asp-action="Index" class="btn btn-secondary m-1"><i class="fas fa-undo-alt"></i> Geri Don</a>
        <div>
            <button type="submit" class="btn btn-success m-1"><i class="fas fa-save"></i> Kaydet</button>
        </div>
    </div>

</form>


@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <script>
        var success = function (xhr) {
            ajaxSuccess(xhr, '/Reservations');
        }

    </script>
}