@{
}

<h4>Rezervasyonlar</h4>
<hr />
<form>
    <div class="form-group row">
        <label for="mindate" class="col-sm-2 col-form-label">Başlangıç Tarihi</label>
        <div class="col-sm-6">
            <input type="date" class="form-control param-change" id="mindate">
        </div>
    </div>
    <div class="form-group row">
        <label for="maxdate" class="col-sm-2 col-form-label">Bitiş Tarihi</label>
        <div class="col-sm-6">
            <input type="date" class="form-control param-change" id="maxdate">
        </div>
    </div>

    <div class="form-group row">
        <div class="custom-control custom-switch col-md-4">
            <input type="checkbox" class="custom-control-input" id="cancelSwitch">
            <label class="custom-control-label" for="cancelSwitch">İptal olanları göster</label>
        </div>
        <div class="custom-control custom-switch col-md-4">
            <input type="checkbox" class="custom-control-input" id="approveSwitch">
            <label class="custom-control-label" for="approveSwitch">Onaylananları göster</label>
        </div>
    </div>
    <input type="button" class="btn btn-info m-1" value="Temizle" onclick="clearForm()" />
</form>

<div class="d-flex justify-content-end p-3">

</div>

<table id="datatable" class="table stripe display" width="100%">
    <thead>
        <tr>
            <th>Şube</th>
            <th>Sipariş No</th>
            <th>Tür</th>
            <th>Müşteri</th>
            <th>Tutar</th>
            <th>Depozito</th>
            <th>Kalan</th>
            <th>Kur</th>
            <th>Tarih</th>
            <th>Artist</th>
            <th>İşlem</th>
        </tr>
    </thead>
</table>


@section Scripts{
    <script>
        $(document).ready(function () {
            $('#datatable').DataTable({
                language: {
                    url: '/lib/datatable/tr/tr.json'
                },
                "processing": true, // for show progress bar
                "serverSide": true, // for process server side
                "pagination": true,
                "filter": true, // this is for filter (search box)
                //"orderMulti": false, // for disable multiple column at once
                "pageLength": 10,
                "createdRow": function (row, data, dataIndex) {
                    //if (data[2] == `someVal`) {
                    //    $(row).addClass('redClass');
                    //}
                },

                "ajax": {
                    url: "/Reservations/GetDataTable",
                    type: 'POST',
                    contentType: "application/json",
                    data: function (d) {
                        let checkResult=null;
                        let cancelCheck = $('#cancelSwitch').prop('checked');
                        let approveCheck = $('#approveSwitch').prop('checked');

                        if (cancelCheck || approveCheck) {
                            checkResult = cancelCheck ? true : false;
                        }
                        d.search.listCancelled = checkResult;
                        let date1 = $('#mindate').val();
                        let date2 = $('#maxdate').val();
                        d.minDate = date1 ? new Date(date1) : null;
                        d.maxDate = date2 ? new Date(date2) : null;
                        return JSON.stringify(d);
                    }
                },
                "columns": [
                    { "data": "officeName", },
                    { "data": "id", },
                    { "data": "orderTypeName", },
                    { "data": "customerFullName", },
                    { "data": "price" },
                    { "data": "deposit" },
                    {
                        "data": "null",
                        render: function (data, type, row) {
                            return row.price - row.deposit;
                        }
                    },
                    { "data": "currencyName" },
                    {
                        "data": "date",
                        render: function (data, type, row) {
                            return (new Date(data)).toLocaleDateString('tr-TR');
                        }
                    },
                    { "data": "personnelName" },
                    {
                        "data": "id",
                        render: function (data, type, row) {
                            let buttons = "";
                            if (row.isApproved === null) {
                                if (row.isPaymentDone === true) {
                                    buttons += '<button onclick="confirmPrompt(' + data + ')" class="btn btn-sm btn-success" title="Onayla"><i class="fas fa-check-circle"></i></button>';
                                } else {
                                    buttons += `<button onclick="payPrompt('${data}', '${row.price - row.deposit} ${row.currencyName}')" class="btn btn-sm btn-info" title="Ödeme"><i class="fas fa-money-bill-wave"></i></button>`;
                                }
                                buttons += '<a href="/Reservations/Edit/' + data + '" class="btn btn-sm btn-warning" title="Duzenle"><i class="fas fa-edit"></i></a>' +
                                    '<button onclick="deletePrompt(' + data + ')" class="btn btn-sm btn-danger" title="Iptal"><i class="fas fa-window-close"></i></button>';
                            }

                            return buttons;
                        }
                    }
                ]

            });
        });


        function confirmPrompt(id) {
            alertify.confirm("Onay", "Siparişi onaylıyor musunuz?",
                function () {
                    let model = { id: id }
                    $.ajax({
                        url: '/Reservations/Approve',
                        type: 'post',
                        contentType: "application/json",
                        data: JSON.stringify(model),
                        success: function (res) {
                            if (res.error === false) {
                                alertify.success("İşlem Başarılı");
                                $('#datatable').DataTable().ajax.reload();
                            } else {
                                alertify.error("İşlem Başarısız");
                                console.log(res.message);
                            }
                        }
                    })
                }, null)
        }

        function deletePrompt(id) {
            alertify.prompt("İptal işlemi", "Sipariş iptal sebebi:", null,
                function (evt, value) {
                    let model = { id: id, message: value };
                    $.ajax({
                        url: '/Reservations/Cancel',
                        type: 'post',
                        contentType: "application/json",
                        data: JSON.stringify(model),
                        success: function (res) {
                            if (res.error === false) {
                                alertify.success("İşlem Başarılı");
                                $('#datatable').DataTable().ajax.reload();
                            } else {
                                alertify.error("İşlem Başarısız");
                                console.log(res);
                            }
                        }
                    })
                }, null)
        }
        function payPrompt(id, price) {
            alertify.confirm("Ödeme", price + " Ödemeyi onaylıyor musunuz?",
                function () {
                    let model = { id: id }
                    $.ajax({
                        url: '/Reservations/Pay',
                        type: 'post',
                        contentType: "application/json",
                        data: JSON.stringify(model),
                        success: function (res) {
                            if (res.error === false) {
                                alertify.success("İşlem Başarılı");
                                $('#datatable').DataTable().ajax.reload();
                            } else {
                                alertify.error("İşlem Başarısız");
                                console.log(res);
                            }
                        }
                    })
                }, null)
        }

        $('.param-change').change(function () {
            refreshTable();
        })
        $('#cancelSwitch').change(function () {
            var sw = $('#cancelSwitch').prop('checked');
            if (sw) {
                $('#approveSwitch').prop('checked', false);
            }
            refreshTable();
        })
        $('#approveSwitch').change(function () {
            var sw = $('#approveSwitch').prop('checked');
            if (sw) {
                $('#cancelSwitch').prop('checked', false);
            }
            refreshTable();
        })

        function clearForm() {
            $('#mindate').val(null);
            $('#maxdate').val(null);
            $('#cancelSwitch').prop('checked', false);
            $('#approveSwitch').prop('checked', false);
            refreshTable();
        }

        function refreshTable() {
            $('#datatable').DataTable().ajax.reload();
        }
    </script>
}