@{
    ViewData["Title"] = "Sipariş Türleri";
}

<h4>@ViewData["Title"]</h4>
<hr />
<div class="d-flex justify-content-end p-3">
    <!-- Large modal -->
    <a asp-controller="OrderTypes" asp-action="Edit" class="btn btn-primary"><i class="fas fa-plus"></i> Ekle</a>
</div>


<table id="datatable" class="table stripe display" width="75%">
    <thead>
        <tr>
            <th>Ad</th>
            <th>İşlem</th>
        </tr>
    </thead>
</table>


@section Scripts{
    <script>
        $(document).ready(function () {
            $('#datatable').DataTable({
                language: {
                    url: '/lib/datatable/tr/tr.json'
                },
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ],
                "processing": true, // for show progress bar
                "serverSide": true, // for process server side
                "pagination": true,
                "filter": true, // this is for disable filter (search box)
                "ordering": false,
                //"orderMulti": false, // for disable multiple column at once

                "ajax": {
                    url: "/OrderTypes/GetDataTable",
                    type: 'POST',
                    contentType: "application/json",
                    data: function (d) {
                        return JSON.stringify(d);
                    }
                },
                "columns": [
                    { "data": "name", },
                    {
                        "data": "id",
                        render: function (data, type, row) {

                            let buttons =null;
                            if (!(data === @Data.Constants.OrderTypeId.Dovme.GetHashCode() || data === @Data.Constants.OrderTypeId.MakePiercing.GetHashCode())) {
                                buttons = '<a href="/OrderTypes/Edit/' + data + '" class="btn btn-sm btn-warning m-1"><i class="fas fa-edit"></i></button>';
                            }
                            return buttons;
                        },
                    }
                ]

            });
        });

    </script>
}